doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Music Streaming

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='css/stylesheet.css')

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    body
        section#main-container
            header.fixed-top
                button#submit-track.btn.btn-secondary(type='button', data-toggle='modal', data-target='#uploadModal')
                    i.material-icons add
                small Upload a track!

            section#tracks-area
                #track-info.text-center
                    img(src='./img/tracks-wallpaper.jpg', alt='')
                    p(style='margin-top: 10px; color: #c4c4c4;') Music Streaming App
                div
                    span Tracks
                    ol#tracks-list

            #controls.fixed-bottom
                audio#audio(controls='', loop='')
                    source#current-track(src='', type='audio/mp3')
                    | Your browser does not support the audio format.

        #uploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#uploadModalLabel.modal-title Upload your track
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        form#track-form
                            .row(style='justify-content: center;')
                                .col-11
                                    input#customFile.custom-file-input(type='file', name='track', accept='audio/mp3')
                                    label.custom-file-label(for='customFile') Choose file
                            br
                            .row
                                .col-12
                                    button#submit.btn.btn-outline-secondary(type='submit', style='float: right;') Submit

        #uploadToast.toast(data-delay='2000', style='position: absolute; bottom: 50px; right: 50px; z-index: 1050;')
            .toast-header
                | Toast Header
            .toast-body
                | Some text inside the toast body

        script(src='controller.js', type='application/javascript')
